---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About | Will Shearer</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>About Me</h1>
      <p>Your about page text here...</p>
    </main>
  </body>
</html>
